*{
    margin:0;
    padding:0;
    box-sizing: content-box;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border: 1px solid black;
}

.logo{
    width:150;
}

.nav-items{
    padding: 0px 20px;

}

.nav-items > ul{
    display:flex;
    list-style-type:none;
    font-size:20px;
}

.nav-items > ul > li{
    padding:10px;
    margin:10px;
   
}


.res-card{
    border-radius:5px;
    width:230px;
    padding:10px;
    margin:5px 10px;
}

h4{
    padding:4px;
}

.res-card:hover{
    cursor:pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     border: 1px solid;
}

.search{
    padding:10px;
}

.res-card > img{
    width:100%;
}

.res-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.filter-btn{
    padding:5px;
    margin:8px 4px;
    cursor:pointer;
    border:none;
    background-color:pink;
}

.shimmer-container{
    display:flex;
    flex-wrap: wrap;
}

.shimmer-card{
    background-color:#f0f0f0;
    width:200px;
    height:500px;
    margin:10px;
}

.login{
    border: 1px solid pink;
    padding:10px;
    margin:10px;
}

.filter{
    display:flex;
    align-items:center;
}

